<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet">
        <link href="css/stylesHome.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/53cd63c78c.js"
            crossorigin="anonymous"></script>
        <title>Mercado Liebre</title>
    </head>
    <body class="cajaMain">
        <header>
            <div class="encabezado">
                <div>
                    <img class= logo src="/images/logo-mercado-liebre.svg"
                        alt="Logo de Liebre">
                </div>
                <div class="box">
                    <div class="container-1">
                        <span class="icon">
                            <button id="buttonSearch">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        <input type="search" id="search" placeholder="Buscar
                            producto, marcas" />
                    </div>
                </div>
            </div>
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <h2> Comprá en cuotas y sin tarjeta de crédito </h2></div>
        <nav>
            <ul class="menu">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Crea tu cuenta </a></li>
                <i class="fa-regular fa-address-card"></i>
                <li><a href="#">Ingresá</a></li>
                <i class="fa-solid fa-right-to-bracket"></i>
                <li><a href="#">Mis compras</a></li>
                <i class="fa-solid fa-basket-shopping"></i>
            </ul>
        </nav>
        <div class=burger-menu>
            <button class="buttonBurger"><i class="fas fa-bars"></i></button>
        </div>
    </header>
    <img class=banner src="/images/img-home-banner.jpg" alt="banner">
    <main class="contenedorArt">
        <h1 class="titulares">Sección: Basado en tu última visita</h1>
        <div class="art">
            <article>
                <img class=producto src="/images/img-cafetera-moulinex.jpg"
                    alt="Cafetera Moulinex" width="260" height="230">
                <div class="detalleArt">
                    <div class="truck" class="cajaPaso1">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p><div class="precio" class="cajaPaso1">$6.770</div>
                        <div class="descuento" class="cajaPaso1">40% OFF</div>
                    </p>
                    <h3 class="descripciones" class="cajaPaso1">Cafetera
                        Moulinex</h3>
                </div>
            </article>
            <article>
                <img class=producto src="/images/img-macbook-pro-2019.jpg"
                    alt="MacBook
                    Pro 2019" width="260" height="230">
                <div class="detalleArt">
                    <div class="truck" class="cajaPaso1">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p><div class="precio" class="cajaPaso1">$230.000</div>
                        <div class="descuento" class="cajaPaso1">20% off</div>
                    </p>
                    <h3 class="descripciones" class="cajaPaso1">MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img class=producto src="/images/img-samsung-galaxy-s10.jpg"
                    alt="SmartTv Samsung 43" width="260" height="230">
                <div class="detalleArt">
                    <div class="truck" class="cajaPaso1">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p><div class="precio" class="cajaPaso1">$23.200</div>
                        <div class="descuento" class="cajaPaso1">5% off</div>
                    </p>
                    <h3 class="descripciones" class="cajaPaso1">SmartTv Samsung
                        43"</h3>
                </div>
            </article>
        </div>
        <section class="ofertas">
            <h1>Sección de Ofertas</h1>
            <div class="art">
                <article>
                    <img class=producto src="/images/img-cafetera-moulinex.jpg"
                        alt="Cafetera Moulinex" width="260" height="230">
                    <div class="detalleArt">
                        <div class="truck" class="cajaPaso1">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p><div class="precio" class="cajaPaso1">$6.770</div>
                            <div class="descuento" class="cajaPaso1">40% OFF</div>
                        </p>
                        <h3 class="descripciones" class="cajaPaso1">Cafetera
                            Moulinex</h3>
                    </div>
                </article>
                <article>
                    <img class=producto src="/images/img-macbook-pro-2019.jpg"
                        alt="MacBook
                        Pro 2019" width="260" height="230">
                    <div class="detalleArt">
                        <div class="truck" class="cajaPaso1">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p><div class="precio" class="cajaPaso1">$230.000</div>
                            <div class="descuento" class="cajaPaso1">20% off</div>
                        </p>
                        <h3 class="descripciones" class="cajaPaso1">MacBook Pro
                            2019</h3>
                    </div>
                </article>
                <article>
                    <img class=producto src="/images/img-samsung-galaxy-s10.jpg"
                        alt="SmartTv Samsung 43" width="260" height="230">
                    <div class="detalleArt">
                        <div class="truck" class="cajaPaso1">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p><div class="precio" class="cajaPaso1">$23.200</div>
                            <div class="descuento" class="cajaPaso1">5% off</div>
                        </p>
                        <h3 class="descripciones" class="cajaPaso1">SmartTv
                            Samsung
                            43"</h3>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <ul>
                <i class="fa-solid fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta
                    o
                    efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <ul>
                    <i class="fa-solid fa-gift"></i>
                    <h2>Envío gratis desde $ 2.500</h2>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos
                        gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </section>
                <section>
                    <ul>
                        <i class="fa-solid fa-user-shield"></i>
                        <h2>Seguridad, de principio a fin</h2>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay
                            nada
                            que no puedas hacer,
                            porque estás siempre protegid@.</p>
                    </section>
                    <section>
                        <ul>
                            <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
                        </section>
                    </footer>
                </body>
            </html>